{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}

<div class="body">
  <div class="about">

    <h1 style="margin-top:20px;" class="about">About</h1>
    <h2 class="about">Pennsylvania Legislation Tracker is the first ever independent, nonpartisan resource on legislators, legislation, and happenings in the Pennsylvania General Assembly.</h2>

    <div class="about-logo">
      <img alt="Logo" class="about-logo" src="/static/logo.png"/>
    </div>

    <h1 class="about">Developer</h1>
    <table class="about">
      <tr class="about">
        <td class="about">
          <img alt="Zachary Goldberg" class="about" src="/static/developer.jpg"/>
        </td>
        <td class="about">
          <h3 class="about" style="width:100%;padding-left:15px;">Pennsylvania Legislation Tracker was conceived and coded by Zachary Goldberg, a high school student at Germantown Friends School in Philadelphia, Pennsylvania. Zach has been accepted to study at the <a target="_blank" href="https://www.upenn.edu/">University of Pennsylvania</a> School of Engineering and Applied Science.</h3>
        </td>
      </tr>
    </table>

    <h1 class="about">Mission</h1>
    <h2 class="about">While interning with his local state representative, Zach realized that most people do not know who their state representatives and state senators are, much less what legislation is being voted on at a state level. Even though these are things that directly impact their lives, a lot of that information is not easily accessible. With this in mind, Zach developed Pennsylvania Legislation Tracker to make information about the Pennsylvania General Assembly more readily available, enabling people to keep up to date on which legislation is currently being considered and supported by their state legislators.</h2>

    <h1 class="about">Function</h1>
    <h2 class="about">Pennsylvania Legislation Tracker is meant to educate and familiarize the citizens of Pennsylvania with the legislators who represent them, and the legislation those legislators propose. Pennsylvania Legislation Tracker searches records of the Pennsylvania General Assembly in order to keep our users completely up to date on which legislation is being voted on in the Pennsylvania State <a href="/legislation/senate/">Senate</a> and <a href="/legislation/house/">House of Representatives</a>. A different <a href="/#featured-legislator">featured legislator</a> and <a href="/#featured-legislation">recent piece of legislation</a> are highlighted for each user so that they may become familiar with as many legislators and their stances as possible. We also offer <a href="/find-legislators/">a way to determine our users' local legislators</a> based upon their addresses.</h2>

    <h1 class="about">Recognition</h1>
    <h2 class="about">Pennsylvania Legislation Tracker has drawn interest from a number of legislators, such as <a href="/house/200/">Representative Chris Rabb</a> and <a href="/senate/4/">Senator Art Haywood</a>. Pennsylvania Legislation Tracker was also commended and shared by <a target="_blank" href="https://seventy.org/">the Committee of Seventy</a> in one of their monthly news releases. Pennsylvania Legislation Tracker was named a 2017 winner of <a target="_blank" href="http://www.congressionalappchallenge.us/">the Congressional App Challenge</a> by <a target="_blank" href="https://www.congress.gov/congressional-record/2017/12/15/extensions-of-remarks-section/article/e1713-4?q=%7B%22search%22%3A%5B%22%5C%22Pennsylvania+Legislation+Tracker%5C%22%22%5D%7D&r=1">Congressman Dwight Evans</a>.</h2>

    <h1 class="about">Contact</h1>
    <!-- <h2 class="about">For comments or queries, contact Zachary Goldberg at <a href="mailto:zacharygoldberg@palegislationtracker.com" target="_top">zacharygoldberg@palegislationtracker.com</a>.</h2> -->
    <h2 class="about">For comments or queries, contact Zachary Goldberg at <a href="mailto:zachgold@seas.upenn.edu" target="_top">zachgold@seas.upenn.edu</a>.</h2>


  </div>
</div>
<div style="height:2000px;"></div>

{% endblock %}
